/* base */

div {
    margin: 1px;
    padding: 0 2px;
}

hr {
    width: 100%;
}

button {
    font-size: inherit;
}

/* layout */

.flex-row {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;

    gap: 1ch;
}

.flex-col {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
}

.flex-col.gap{
    gap: 1em;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.fixed-size {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}

.grow-and-shrink {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}

/* components */

#app {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
}

#toggleShowMenuButton {
    position: absolute;
    right: 0;
    top: 0;

    color: black;
    background-color: white;
}

#toggleShowMenuButton:hover {
    color: white;
    background-color: black;
}

.linksToMenuHidden {
    display: none;
}

.buttondiv {
    text-align: center;
}

.rightmargin {
    margin-right: 5px;
}

/* utilities */
